.main-content {
  height: calc(100vh - 77px);
  width: 100vw;
  display: flex;
}
.map {
  height: 100%;
  width: calc(100vw - 8rem);
  background-color: #0d1b1c;
}
.left-panel {
  height: calc(100vh - 77px);
}
/* .mapboxgl-ctrl-geocoder--input {
  height: 2.25rem;
} */

.mapboxgl-ctrl-top-right .mapboxgl-ctrl {
  width: 130%;
}
.progress-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  width: 100px;
  height: 100px;
  background-color: #0d1b1c;
  display: flex;
  justify-content: center;
  align-items: center;
}
.progress-spinner svg {
  color: #ffffff;
}
.information {
  font-size: 13px;
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 10px 12px;
  font-family: monospace;
  z-index: 2;
  position: absolute;
  bottom: 0;
  left: 4rem;
  margin: 12px;
  border-radius: 4px;
}
.tools {
  position: absolute;
  bottom: 0;
  z-index: 2;
}
.tool {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tool:hover {
  cursor: pointer;
  background-color: #0d1b1c73;
}
.tool-selected {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0d1b1c73;
}
.mapboxgl-ctrl-bottom-right {
  margin: 0 10px 10px 0;
}
.animate {
  animation-name: flash;
  animation-duration: infinite;
  animation-iteration-count: 2;
  animation-fill-mode: both;
  transform: scale(1.2);
}
@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.delete-icon {
  color: white;
  background-color: red;
}
