.login-btn {
  background-color: #016567;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px white;
  transition: none;
}
.login-btn:hover {
  background-color: white;
  color: #016567;
  border: #016567 solid 1px;
  border-radius: 7px;
}
.nav-components {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.cart-icon {
  margin: 10px;
}
.cart-icon:hover {
  color: #016567;
}
.checkout-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.join-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
