.left-panel {
  float: left;
  width: 4rem;
  height: 100%;
  background-color: #0f102a;
}
.left-panel ul {
  padding: 1em 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 3em;
}
.left-panel .list {
  padding: 1em;
  border: solid 1px #0f102a;
  border-radius: 10px;
  background-color: #0f102a;
}
.left-panel .list:hover,
.list:focus {
  background-color: hwb(237 13% 70%);
}
