/* .left-panel {
  float: left;
  width: 4rem;
  height: 100%;
  background-color: #010102;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
   justify-content: center; 
}

/* the lists are divided as
ul-parent
  list-title [crops, urban, etc]
    ul-child [ul parent for list-items]
     list-items [rice, sugarcane, etc]
*/


/* .ul-parent {
  list-style-type: none;
  border: #667aec 1px solid;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
}
.ul-child{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  border: 1px solid #44bd3b;
  margin: 0;
  padding: 0 1rem;
  gap: 10px;
}
.list-title{
  font-weight:600;
  border: 1px solid #e1691f;
  margin: 0;
  padding:  0.5rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}
.list-items {
  font-weight: 400;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid #1fe1ca;
  padding: 5px 10px;
  border-radius: 7px;
   width: 300px;
  background-color: #25262b;
}
.list-items input{
  width: 10px;
  height: 10px;
  position: relative;
  opacity: 1;

}
.checkmark {
  position: relative;
  height: 40px;
  width: 40px;
  background-color: #eee;
}
 Create the checkmark/indicator (hidden when not checked)
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

 Show the checkmark when checked
.lis input:checked ~ .checkmark:after {
  display: block;
}

 Style the checkmark/indicator
.list-items .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.list-items img{
  width: 40px;
  height: 40px;


}
.list-items:hover input ~ .checkmark {
  background-color: #ccc;
}
.list-items input:checked ~ .checkmark {
  background-color: #2196F3;
} */
/* .left-panel .list {
  border: solid 1px #14151b;
  border-radius: 10px;
  background-color: #14151b;
}
.left-panel .list:hover,
.list:focus {
  background-color: #212229;
}
.cart-length{
  position: relative;
  left: 0.6rem;
  color: green;

} */
.left-panel {
  float: left;
  width: 4rem;
  height: 100%;
  background-color: #0f102a;
  color: greenyellow;
}
.left-panel ul {
  padding: 1em 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 3em;
}
.left-panel .list {
  padding: 1em;
  border: solid 1px #0f102a;
  border-radius: 10px;
  background-color: #0f102a;
}
.left-panel .list:hover,
.list:focus {
  background-color: hwb(237 13% 70%);
}
.cart-length{
  position: relative;
  left: 0.6rem;

}